<fieldset>
  <div class="fields">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :_destroy, as: :hidden %>
    <%= link_to "Remove script", '#', class: "remove_fields" %>
  </div>
</fieldset>

